@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
  background-image: url('/img/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
header{
  padding-bottom: 100px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 20px 15px 40px black;
  position: relative;
  overflow: hidden;
  width: 300px;
  max-height: 100vh;
  color: white;
  padding: 30px;
  margin: auto;
  margin-top: 14px;
  justify-content: center;
  align-items: center; 
}

.container form {
  text-align: center;
}

.form-group input,label {
  margin-bottom: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header a i{
    font-size: 20px;
}
.deposit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.deposit-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  body{
    background-size: auto;
  }
  .container{
    display: flex;
    width: 100%;
    padding: 15px;

    justify-content: center;
  }
  .form-group{
    flex-direction: column;
  }
  .container #button{
    flex-direction: column;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#formattedAmount {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}